{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="https://storage.googleapis.com/bytewalk/icon.png"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="{% static 'users/auth.css' %}" rel="stylesheet">
    {% block cssfiles %}{% endblock cssfiles %}
    <title>CyberCommune</title>
</head>
<header>
{% if not user.is_authenticated %}
<div class="name">
    <h1>CyberCommune</h1>
</div>
{% else %}
{% block searchform %}{% endblock searchform %}
{% endif %}
</header>
<body>

    {% block content %}{% endblock content %}
    <footer class="page-footer font-small black">
      <div class="footer-copyright text-center py-3">CyberCommune © 2023
      <br><small class="text-muted">Все права защищены!</small>
    </div>
    </footer>

    <!-- JS Files -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% block jsfiles %}{% endblock jsfiles %}
</body>
</html>