{% extends "feed/layout.html" %} {% load static %}
{% block cssfiles %}
    <link href="{% static 'users/profile.css' %}" rel="stylesheet">
{% endblock cssfiles %}
{% block searchform %}
<form
  class="search"
  action="{% url 'search_users' %}"
  method="get">
  <div class="text-field-icon">
      <input name="q" type="text" placeholder="Поиск пользователей" />
  </div>
        <button type="submit">
        <img src="{% static 'users/search.svg' %}" alt="Поиск">
      </button>
</form>
<nav class="nav">
    <a href="{% url 'my_profile' %}">Моя страница</a>
    <a href="{% url 'events' %}">Мероприятия</a>
    <a href="{% url 'home' %}">Форум</a>
</nav>
{% endblock searchform %}
{% block content %}
    <div class="container page">
        <div class="lk">
            <img class="card-profile-image" src="{{ u.profile.image.url }}"/>
            <h2>{{ u.username }}</h2>
            <p class="pg">{{ u.profile.bio}}</p>
            <div class="buttons-lk">
                <div class="main-buttons-lk">
                    <button class="edit"><a href="{% url 'edit_profile' %}">Редактировать</a></button>
                    <a href="{% url 'event-create' %}" class="create-event">Создать мероприятие</a>
                    <a href="{% url 'post-create' %}" class="create-post">Создать обращение</a>
                </div>
                <div class="lk-logout">
                    {% if request.user == u %}
                    <a class="logout" href="{% url 'logout' %}"><img src="{% static 'users/logout.svg' %}" alt="Выйти"></a>
                    {% else %}
                    <a class="logout" href="{% url 'my_profile' %}"><img src="{% static 'users/logout.svg' %}" alt="Выйти"></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="wall-flex">
            <div class="wall-1">
            <ul class="page-list">
                <li>
                    {% if request.user == u %}
                    <div class="page-list-item">
                        <img src="{% static 'users/my_friends.svg' %}" alt="Мои друзья">
                        <div class="page-list-text">
                            <a href="{% url 'friend_list' %}" class="text-1">Мои друзья</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="page-list-item">
                        <img src="{% static 'users/my_friends.svg' %}" alt="">
                        <div class="page-list-text">
                            <a href="{% url 'users_list' %}" class="text-1">Пользователи</a>
                        </div>
                    </div>
                    {% endif %}
                </li>
                <li>
                    {% if request.user == u %}
                    <div class="page-list-item">
                        <img src="{% static 'users/my_project.svg' %}" alt="">
                        <div class="page-list-text">
                            <a href="{% url 'user-posts' u.username %}" class="text-1">Мои обсуждения</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="page-list-item">
                        <img src="{% static 'users/my_project.svg' %}" alt="">
                        <div class="page-list-text">
                            <a href="{% url 'user-posts' u %}" class="text-1">Его обсуждения</a>
                        </div>
                    </div>
                    {% endif %}
                </li>
                <li>
                    {% if request.user == u %}
                    <div class="page-list-item">
                        <img src="{% static 'users/my_mero.svg' %}" alt="">
                        <div class="page-list-text">
                            <a href="{% url 'user-events' u %}" class="text-1">Мои Мероприятия</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="page-list-item">
                        <img src="{% static 'users/my_mero.svg' %}" alt="">
                        <div class="page-list-text">
                            <a href="{% url 'user-events' u %}" class="text-1">Его мероприятия</a>
                        </div>
                    </div>
                    {% endif %}
                </li>
                <li>
                    <div class="page-list-item">
                        <img src="{% static 'users/messages.svg' %}" alt="">
                        <div class="page-list-text">
                            <a href="{% url 'home' %}" class="text-1">Форум</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="page-list-item">
                        <img src="{% static 'users/forum.svg' %}" alt="">
                        <div class="page-list-text">
                            <a href="{% url 'post-create' %}" class="text-1">Создать обращение</a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
            {% if request.user == u %}
        <div class="requests">
            {% for event in events_req %}
            <div class="card-event-req">
                <div class="card-event-req-top">
                    <img class="card-event-user-image" src="{{ event.from_user.profile.image.url }}"/>
                    <p>{{ event.from_user.username }} пригласил вас на мероприятие "{{ event.event_id.title }}"</p>
                </div>
                <img class="card-event-image" src="{{ event.event_id.pic.url }}"/>

            </div>
            {% endfor %}
        </div>
            {% endif%}
        </div>
    </div>


{% endblock content %} {% block jsfiles %}{% endblock jsfiles %}